.header {
  background-color: #222;
  color: white;
  padding: 5px 30px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.blink-shadow {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 0 2px #ffffff, 0 0 10px #ffffff;
  animation: blinkZoom 1.5s infinite ease-in-out;
}

/* Blinking + Zooming effect */
@keyframes blinkZoom {
  0%, 100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(1.2);
  }
}
